h3 Education
each item in contents['education.json'].metadata   
  div.row
    if item.date
      b= item.name + ', ' + item.date
    else
      b= item.name
    div= item.description
    if item.additional
      div= item.additional
  br
