h3 Hobbies
table.u-full-width
  thead
    tr
      th 
        h5 Activity
      th 
        h5 Experience
  tbody
  each hobby in contents['hobby.json'].metadata     
    tr
      td= hobby.name
      td= hobby.years + ' years'
br