h3 Honors
table.u-full-width
  thead
    tr
      th 
        h5 Honor/Award
      th 
        h5 Date
  tbody
  each honor in contents['honors.json'].metadata     
    tr
      td
        b= honor.name
        br
        = honor.from
      td= honor.date