extends layout

block content
   include personal
   include education
   include skills
   include work
   include honors      
   include portfolio
   include travel
   include hobby
   include references   
   