h3 Portfolio
each port in contents['portfolio.json'].metadata
    h5= port.name
    ul
      each i in port.description
        li= i
    if port.image
      br
      a(href=port.link)
        img(src='images/' + port.image)
      br
      br
    else
      a(href=port.link)= port.type
      br
      br
br

