h3 Skills
table.u-full-width
  thead
    tr
      th 
        h5 Name
      th 
        h5 Experience
  tbody
  each hobby in contents['skills.json'].metadata     
    tr
      td(style='width:675px')= hobby.name
      td= hobby.years + ' years'
br