h3 Work Experience
each work in contents['work.json'].metadata
  div.row
    div.ten.columns
      b= work.company_name 
      span= ' | ' + work.city + ', ' + work.state + ' | ' + work.date
      br
      i= work.position
    div.seven.columns
      ul
        each i in work.description
          li= i
    div.three.columns
      img(src= 'images/' + work.image)
  br
